<h1>Admin</h1>

<div id="breadcrumb">
  <%= link_to "Dashboard", "/"%> &raquo; Admin
</div>


<% if DataStore.data.empty? %>
  <div class="feedback">
    No data has yet been entered into the system.
    <br/>
    Please begin the initial upload.
  </div>
<% end %>

<h2>Data Upload</h2>

<div>
  <%= form :name => "data-upload",:action => "/admin/data_upload" do %>      
    <%= file_field :attachment, :label => "File: " %>
    <%= submit "Upload" %>
  <% end =%>
</div>

<% unless DataStore.data.empty? %>
  <h2>Prior Uploads</h2>
  <ul>
    <% DataStore.uploads.each do |up| %>
      <li><%= up%></li>
    <% end %>
  </ul>
<% end %>

<% unless DataStore.uploads.include? "Sample Data" %>
  <h2>Add Sample Data (demo only)</h2>
  <% if DataStore.data.empty? %>
    Sample data is seeded from uploaded data
  <% else %>
    <a href="/admin/add_sample_data">Add</a>
  <% end %>
<% end %>

<h2>View All Data</h2>

<% if DataStore.data.empty? %>
  No data available
<% else %>
  <%= link_to "View &raquo;", "/index/all_data" %>
<% end %>