<link type="text/css" href="/stylesheets/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="/javascripts/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript">
	$(function(){
	  
	  var valToDate = function (v) {
	    return new Date(parseInt(v, 10)).toLocaleDateString();
	  };
	  
	  var dateRangeString = function (v1, v2) {
	    var start = new Date(parseInt(v1, 10));
	    var end = new Date(parseInt(v2, 10));
	    var period = Math.floor((end - start) / (24 * 60 * 60 * 1000));
	    return start.toLocaleDateString() + " - " + end.toLocaleDateString() + 
	      " <span class='minor-info dimmed'>(" + period + " days)</span>";
	  };
		
		// <%# Added 1 to max to ensure that min == max never occurs %>
		$("#slider").slider({
			range: true,
			min: <%= @min_date.to_js_i %>,
			max: <%= @max_date.to_js_i + 1 %>,
			values: [<%= @min_date.to_js_i %>, <%= @max_date.to_js_i + 1 %>],
			slide: function (event, ui) {
			  $("#date-range").html(dateRangeString(ui.values[0], ui.values[1]));
			},
			stop: function (event, ui) {
			  limitViewsByDates(ui.values[0], ui.values[1]);
			}
		});

    $("#date-range").html(dateRangeString($("#slider").slider("values", 0), $("#slider").slider("values", 1)));
    
  });
</script>

<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<!-- <script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAW_tqT0xj2IdAv-D6n9p4TBSJ96pU6mbroTsW1oFFdHcOPyoZbBQyCgZgbQ0-kEtwKqxvSKAhggtGiw' 
  type='text/javascript'></script> -->

<script type='text/javascript'>
  google.load('visualization', '1', {packages:['table', 'columnchart', 'geomap', 'annotatedtimeline']});
  google.setOnLoadCallback(launch);
  
  function launch () {
    drawDataCenterChart();
    drawProductChart();
    drawUSMap();
    drawGlobalMap();
    drawEmissions();
  };
  
  var limitViewsByDates = function (start, end) {
    start = start / 1000;
    end = end / 1000;
    $.getScript("/index/dashboard?start_time=" + start + "&end_time=" + end);
  }
  
  var emissionsChart, emissionsData;
  var emissionsChartOptions = {displayAnnotations: true, annotationsWidth: 15};
  
  var drawEmissions = function () {
    emissionsChart = new google.visualization.AnnotatedTimeLine(document.getElementById("emissions-chart"));

    emissionsData = new google.visualization.DataTable(<%= @emissions_data %>);
    emissionsChart.draw(emissionsData, emissionsChartOptions);
  }
  
  var dataCenterChart, dataCenterData;
  var dataCenterChartOptions = {colors: ["#41B2AF"], width: 450, height: 400, is3D: false, 
    axisFontSize: "10", enableTooltip: false, legend: "none"};
  
  var drawDataCenterChart = function () {
    dataCenterChart = new google.visualization.ColumnChart(document.getElementById("datacenters"));

    dataCenterData = new google.visualization.DataTable(<%= @dc_data %>);    
    dataCenterChart.draw(dataCenterData, dataCenterChartOptions);
    
    google.visualization.events.addListener(dataCenterChart, "select", function (e) {
      var s = dataCenterChart.getSelection()[0];
      var dcName = dataCenterData.getValue(s.row, 0);
      window.location = "/facilities/" + dcName;
    });    
  };
  
  var productChart, productData; 
  var productChartOptions = {colors: ["#41B2AF"], width: 450, height: 400, is3D: false, 
    axisFontSize: "10", enableTooltip: false, legend: "none"};
  
  var drawProductChart = function () {
    productChart = new google.visualization.ColumnChart(document.getElementById("products"));

    productData = new google.visualization.DataTable(<%= @prod_data %>);    
    productChart.draw(productData, productChartOptions);
    
    google.visualization.events.addListener(productChart, "select", function (e) {
      var s = productChart.getSelection()[0];
      var dcName = productData.getValue(s.row, 0);
      window.location = "/assets/" + dcName;
    });    
  };  

  var usMap, usMapData;
  var usMapOptions = {region: "US", colors: [0x8DD9D6,0x71D9D5,0x41B2AF,0x157470],
    dataMode: "markers", width: 450};
  
  var drawUSMap = function () {
    usMap = new google.visualization.GeoMap(document.getElementById('us_map_canvas'));

    usMapData = new google.visualization.DataTable(<%= @us_map_data %>);
    usMap.draw(usMapData, usMapOptions);
  };
  
  var wwMap, wwMapData;
  var wwMapOptions = {dataMode: "regions", width: 450, colors: [0x8DD9D6,0x71D9D5,0x41B2AF,0x157470]};
  
  var drawGlobalMap = function () {
    wwMap = new google.visualization.GeoMap(document.getElementById('ww_map_canvas'));

    wwMapData = new google.visualization.DataTable(<%= @ww_map_data %>);
    wwMap.draw(wwMapData, wwMapOptions);
    
    google.visualization.events.addListener(wwMap, "regionClick", function (e) {
      window.location = "/countries/" + e.region;
    });
  };
  
</script>

<div class="contentarea">
  
  <div id="date-range-wrapper">
    Date Range: <span id="date-range"></span>
    <div id="slider"></div>
  </div>
  
  <div id="emissions-chart-wrapper">
    <h1>Total Emissions (t<%= co2 %>)</h1>
    <div id="emissions-chart" class="timeline"></div>
  </div>  
    
  <div style="clear:both;">
  
    <div style="float:right">
  	  <h1>Top 10 Emissions (kt<%= co2 %>) by Asset</h1>
  	  <div id="products">
  	  </div>
    </div>

    <div>
  	  <h1>Top 10 Emissions (kt<%= co2 %>) by Facility</h1>
  	  <div id="datacenters">
  	  </div>
    </div>

  </div>

</div>

<div class="contentarea">
  
  <div style="float:right">
	  <h1>Emissions (t<%= co2 %>) by US State</h1>
	  <div id="us_map_canvas">
	  </div>
  </div>

  <div>
	  <h1>Emissions (t<%= co2 %>) by Country</h1>
	  <div id="ww_map_canvas">
	  </div>
  </div>


</div>
