<!-- <p><%= link_to "table", "/index/table" %></p> -->
<p><%= link_to "motion", "/index/motion" %></p>
<p><%= link_to "table v2", "/index/tablev2" %></p>
<p><%= link_to "dashboard", "/index/dashboard" %></p>
<p><%= link_to "product", "/index/product_aggregation" %></p>
