<% if message[:feedback] %>
  <div id="invalid-password"><span class="feedback"><%= message[:feedback] %></span></div>
<% end %>

<div class="contentarea" style="width:25%;">

<div>
  <h1>Sign In</h1>
  <%= form :id => "login", :name => "login", :action => url(:controller => "login", :action => "login") do %>
    <table>
     	<tr>
        <td>Username</td>
        <td><%= text_field :name => "username"%></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><%= password_field :name => "password"%></td>
      </tr>
      <tr>
        <td></td>
        <td><%= submit "Login" %></td>
      </tr>
    </table>
  <% end =%>
</div>
<div class="clear"></div>
</div>